.tab {
    padding: 0 2rem;
    background: linear-gradient(144deg, #AF40FF, #5B42F3 50%,#00DDEB);
    color: white;
    font-family:'Bebas Neue', arial;
    cursor: pointer;
}

.title {
    margin-bottom: 0;
}

